<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<ul>
  <li>E-mail： <%= @user.email %></li>
  <li>Location： <%= @user.location %></li>
</ul>
<p><%= link_to "Edit Profile", edit_user_path(current_user) %></p>